.hostContainer {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  gap: 1rem;
}

.hostContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.column2 {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #155E75;
  border-radius: 20px;
}

.column2 > * {
  margin-bottom: 1rem;
}

.column2 button {
  width: 100%;
  
  
}

.highlightBox {
  text-align: center;
  background-color: #FFC72C;
  padding: 1rem;
  margin-bottom: 0.5rem;
  
  
}

.column2 .highlightBox p {
  margin-bottom: 1rem;
}

.attendeesSection {
  margin: 2rem 0;
}

.attendeesSection h2 {
  margin-bottom: 1rem;
}

.attendeesSection div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  max-width: 40rem;
}

textarea {
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  border: 2px solid #155E75;  
  padding: 1rem;
}

.commentForm button {
  
  align-self: end;
}

.message {
  background-color: rgb(245, 245, 245);
  max-width: 40rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.ratingSection {
  max-width: 40rem;
}

.ratingSection .highlightBox {
  margin: 1rem 0;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .flexContainer {
    display: flex;
    gap: 3rem;
  }
  .column1 {
    width: 60%;

  }
  .column2 {
    margin-top: 0;
    width: 40%;
    
  }

}

