.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0;
  
}



.filtersContainer {
  margin: 1rem 0;
}

.filtersContainer button {
  font-size: .8rem;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 5px;
  padding: 0.2em 1em;
  margin-right: 0.5rem;;
}

.filtersContainer button:hover,
.filtersContainer button:focus-visible {
  background-color: rgb(189, 189, 189);
}

.delete {
  color: rgb(143, 33, 125);
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputsContainer input {
  width: 100%;
}


.meetupList {
  margin-top: 2rem;
  width: 100%;
}

@media (min-width: 600px) {
  .meetupsContainer {
    display: flex;
    gap: 1rem;
  }
  .inputsContainer {
    flex-direction: row;
    gap: 1rem;
  }
  
}