.cardWrapper {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
}

.cardLink {
  text-decoration: none;
  color: black;
  width: 100%;
}

.cardLink:visited {
  color: black;
}