.header {
  min-height: 5rem;
  background-color: #155E75;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:visited {
  color: #fff;
}

.header button {
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.header button:hover {
  background-color: #ebebeb;
  transform: scale(1.05);
}

.navContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navContainer a {
  text-decoration: underline;
}

@media (max-width: 539px) {
  .welcomeMessage {
    display: none;
  }
}